/* static/styles.css */
body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 300px;
    padding: 5px;
}

input[type="submit"] {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
.footer {
    background-image: url('https://t4.ftcdn.net/jpg/03/58/10/87/360_F_358108785_rNJtmort9m65M3pft5swd7lnKJcTCB8u.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px; /* Adjust as needed */
    color: white; /* Set text color to contrast with the background */
}
